<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.csye6225_zzy.mapper.FileMapper">

    <delete id="deleteFile">
        delete from amazon_file_model where id=#{ID}
    </delete>

    <insert id="addFile" parameterType="com.example.csye6225_zzy.pojo.AmazonFileModel">
        insert into amazon_file_model (ID, filename, url, uploadtime)
        values (#{ID},#{filename},#{url},#{uploadtime})
    </insert>

    <update id="updateFile" parameterType="com.example.csye6225_zzy.pojo.AmazonFileModel">
        update amazon_file_model set filename=#{filename},
                        url=#{url},
                        uploadtime=#{uploadtime}
        where id=#{ID}
    </update>

</mapper>