<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.csye6225_zzy.mapper.UserMapper">

    <insert id="addUser" parameterType="user">
        insert into user (ID, firstname, lastname, password, username, account_created, account_updated , verified, verified_time)
        values (#{ID},#{firstname},#{lastname},#{password},#{username},#{accountCreated},#{accountUpdated},#{verified},#{verifiedTime})
    </insert>

    <update id="updateUser" parameterType="user">
        update user set firstname=#{firstname},lastname=#{lastname},
                        password=#{password},username=#{username},
                        account_created=#{accountCreated},account_updated=#{accountUpdated},
                        verified=#{verified},verified_time=#{verifiedTime}
        where id=#{ID}
    </update>

    <delete id="deleteUser">
        delete from user where ID=#{ID}
    </delete>

</mapper>