<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.csye6225_zzy.mapper.UserMapper">

    <insert id="addUser" parameterType="com.example.csye6225_zzy.pojo.User">
        insert into user (ID, firstname, lastname, password, username, accountcreated, accountupdated , verified, verifiedtime)
        values (#{ID},#{firstname},#{lastname},#{password},#{username},#{accountcreated},#{accountupdated},#{verified},#{verifiedtime})
    </insert>

    <update id="updateUser" parameterType="com.example.csye6225_zzy.pojo.User">
        update user set firstname=#{firstname},lastname=#{lastname},
                        password=#{password},username=#{username},
                        accountcreated=#{accountcreated},accountupdated=#{accountupdated},
                        verified=#{verified},verifiedtime=#{verifiedtime}
        where id=#{ID}
    </update>

    <delete id="deleteUser">
        delete from user where ID=#{ID}
    </delete>

</mapper>